{% extends "base_auth.html" %}
{% block title %}password_change{% endblock title %}Login 
{% block content %}
<form class="login100-form validate-form" method="post">
    {% csrf_token %}
    <span class="login100-form-title">
        Password change
    </span>

    <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
        <input class="input100" type="password" name="old_password" placeholder="Old password">
        <span class="focus-input100"></span>
        <span class="symbol-input100">
            <i class="fa fa-envelope" aria-hidden="true"></i>
        </span>
    </div>

    <div class="wrap-input100 validate-input" data-validate = "Password is required">
        <input class="input100" type="password" name="new_password1" placeholder="new Password">
        <span class="focus-input100"></span>
        <span class="symbol-input100">
            <i class="fa fa-lock" aria-hidden="true"></i>
        </span>
    </div>
    <div class="wrap-input100 validate-input" data-validate = "Password is required">
        <input class="input100" type="password" name="new_password2" placeholder="new Password confirm">
        <span class="focus-input100"></span>
        <span class="symbol-input100">
            <i class="fa fa-lock" aria-hidden="true"></i>
        </span>
    </div>
    
    <div class="container-login100-form-btn">
        <button class="login100-form-btn">
            password change
        </button>
    </div>
</form>
</div>
</div>
</div>
{% endblock content %}