{% extends "base_auth.html" %}
{% block title %}Login{% endblock title %}Login 
{% block content %}
<form class="login100-form validate-form" method="post">
    {% csrf_token %}
    <span class="login100-form-title">
        Edit Task
    </span>

    <div class="wrap-input100 validate-input">
        <input class="input100" type="text" name="title" placeholder="new title">
        <span class="focus-input100"></span>
        <span class="symbol-input100">
            <i class="fa fa-envelope" aria-hidden="true"></i>
        </span>
    </div>
    <div class="container-login100-form-btn">
        <button class="login100-form-btn">
            Edit title
        </button>
    </div>
</form>
</div>
</div>
</div>
{% endblock content %}